* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

/*Navigation Section*/

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 30px;
}

.nav-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
}

/*
.nav-hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  align-items: end;
}
*/

/*Header Section*/


.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  padding-top: 20px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.header-text {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.header-text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: clamp(3.5rem, 4vw, 6rem);
}

.subtitle {
  font-family: "Sour Gummy", sans-serif;
  padding: 0 20px;
  margin-top: 10px; 
  color: rgb(109, 76, 188);
  font-size: clamp(1.4rem, 2vw, 2rem);
}

.header-image {
  flex: 1;
  width: 60%;
  max-width: 600px;
  height: auto;
}

/*About Me Section*/

.about-section {
  padding: 30px 70px;
  text-align: center;
  margin: 0 auto;
  max-width: 1300px;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.about-text {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}


/* Projects Section */
.projects-section {
  padding: 40px 70px;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.projects-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 40px;
  max-width: 1300px;
}

.project h3 {
  margin-bottom: 20px;
}

.project p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-img-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.project-img,
.project-small-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.project-small-img {
  display: none;
}


.coming-soon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: white;
  -webkit-text-stroke: 2px black;
}

/*Follow Me Section*/


.follow-section {
  padding: 50px 70px;
  padding-top: 30px;
  text-align: center;
}

.follow-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.socials-box {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}


/*Responsive Design Section*/

@media (max-width: 600px) {
  .navbar-container{
    padding: 14px;
  }
  .nav-profile-pic {
    width: 40px;
    height: 40px;
  }
  /*
  .nav-hamburger-menu {
    display: inline;
  }
  */
  .nav-links {
    align-items: center;
  }

  .nav-links a {
    font-size: 1rem;
    font-weight: 600;
  }

  .nav-links.active {
    display: flex;
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .header-text h1 {
    font-size: 3.3rem;
  }

  .subtitle {
    font-size: 1.3rem;
    padding: 0;
  }

  .about-section, .projects-section, .follow-section {
    padding: 10px 45px;
    text-align: center;
  }

  .about-section h2, .projects-section h2, .follow-section h2 {
   font-size: 1.5rem; 
  }

  .about-text {
    font-size: 1rem;
  }

  .coming-soon-text {
    font-size: 2.5rem;
    -webkit-text-stroke: 1px black;
  }
}


@media (min-width: 1000px) {
  .project-img-container {
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .project-img {
    max-width: 55%;
  }

  .project-small-img {
    display: inline;
    max-width: 33%;
    opacity: 0.95;
    transform: scale(0.98);
  }
}



@media (max-width: 999px) {
  .project-img-container {
    justify-content: center;
  }

  .project-img {
    max-width: 90%;
  }
}